/* Контейнер для расположения карточек в ряд */
.container {
  display: flex; /* Устанавливает контейнер в режим Flex */
  flex-direction: row; /* Располагает элементы (карточки) в ряд по горизонтали */
  justify-content: space-between; /* Распределяет карточки с равными отступами между ними */
}

/* Стили для каждой карточки */
.card{
   width: 400px; /* Устанавливает ширину карточки */
   height: 650px; /* Устанавливает высоту карточки */
   background-color: #20B2AA; /* Устанавливает цвет фона карточки */
   border-radius: 60px; /* Устанавливает скругление углов карточки */
   margin-right: 20px; /* Добавляет отступ справа между карточками */
   /* Это внешний отступ, который создает пространство между карточками */
}

/* Стили для заголовка */
h1 {
  text-align: center; /* Центрирует текст заголовка по горизонтали */
}

/* Стили для блока с фото */
.photo {
   height: 20%; /* Устанавливает высоту блока с фото */
   padding: 20px; /* Устанавливает внутренний отступ блока с фото */
   /* padding - это внутренний отступ, который создает пространство внутри элемента */
   /* Для внешних отступов используется margin */
}

/* Стили для блока с информацией */
.info {
   padding: 40px; /* Устанавливает внутренний отступ блока с информацией */
   height: 40%; /* Устанавливает высоту блока с информацией */
}

/* Стили для изображения */
img {
   position: relative; /* Позиционирует изображение относительно родительского элемента */
   left:29%; /* Сдвигает изображение влево на 29% от ширины родительского элемента */
   border-radius: 15px; /* Устанавливает скругление углов изображения */
}
